.authForm {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 12px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: black;
  font-size: 16px;
}

.error {
  color: #ff7070;
}
