.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.backButton {
  margin: 10px;
  font-size: 28px;
}

.klecksEmbed {
  width: 100%;
  height: 100%;
}
