body {
  color: white;
  background-color: black;
  font-family: sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
