body {
  overflow: hidden;
  color: white;
  background-color: black;
  font-family: sans-serif;
}

#root {
  position: absolute;

  overflow: hidden;
  width: 100vw;
  height: 100vh;
  inset: 0;
}

body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.link,
a {
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  border-radius: 4px;
  color: #70a2ff;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  &:hover {
    background-color: #70a2ff33;
  }
}

button {
  padding: 8px;
  border: none;
  border-radius: 6px;
  color: #70a2ff;
  background-color: rgba(18, 33, 63, 0.774);
  cursor: pointer;
  transition: 0.2s;
  backdrop-filter: blur(20px);
  &:hover {
    background-color: rgba(25, 46, 87, 0.774);
  }
}
